:root {
    --accent-color: #FED136;
    --main-color: #777;
    --add-color: #222;
    --add-white: #fff;
}
h2, h3 {
    color: var(--accent-color);
}
.nav {
    color: rgb(255, 9, 202);
}
header {
    background-color: rgba(255, 9, 202, 0.2);
}
.list-hero > li {
    color: #53FF52;
}
/* h2 { 
 color: red; 
} */

/* * { 
    color: green; 
 } */
/* a {
  text-decoration: none;
}
.list {
  list-style: none;
  font-size: 20xp;
}
.list-header {
  color: green;
}
/* #hero { 
     color: gray; 
} */
/* a[href*="google"] { */
  /* color: orange;
}
h2,
h3,
ul {
  margin: 0;
}
header li {
  color: yellow;
}
section > p {
  font-size: 40px;
}
.text-hero {
  font-size: 20px;
}
nav + a {
  background-color: yellow;
}
.hero ~ p {
  background-color: gray;
} */ 
